.nav {
    margin-top: 2rem;
}

p {
    color: white;
}

label {
    color: orange;
}

.col-md-4 {
    width: 70%;
    margin-left: 16rem;
}

.home_title {
    color: aqua;
}

.sign_in_title {
    color: greenyellow;
}

.register_title  {
    color: dodgerblue;
}

.home_link {
    padding: 0 2rem 0 1rem; 
}

.container {
    text-align: center;
    margin-top: 6rem;
}

body {
    background-image: url("./images/bg.jpeg");
    background-size: 50% 50%;
}