{% extends "base.html" %}

{% block app_content %}
    <h1 class="sign_in_title">Sign In X</h1>
    <form action="" method="post">
        <!-- Generates a hidden field that includes a token used to protect against CSRF using SECRET_KEY
        defined in Config  --> 
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            <!-- handles login errors -->
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p class="reg_text">New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
{% endblock %}
